<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>10:00 - 11:00 (optional)</td> <td>Assistance with software installation. All software must be installed by 11:00 for participants to join workshop. See "Setup" below for instructions.</td></tr>
      <tr><td>11:00 - 11:30 </td><td>Welcome by Prof Olalekan Ayo-Yusuf, DVC Research, Postgraduate Studies and Innovation</td></tr>
      <tr><td>11:30 - 12:30 </td><td>Data organisation in Spreadsheets</td></tr>
      <tr><td>12:30 - 13:30 </td><td>Lunch Break</td></tr>
      <tr><td>13:30 - 15:00 </td><td>Data Organisation in Spreadsheets continue</td> </tr>
      <tr><td>15:00 - 15:30 </td><td>Coffee Break</td></tr>
      <tr><td>15:30 - 16:30 </td><td>Cleaning Data with OpenRefine</td></tr>
      <tr> <td>16:30</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr><td>09:00 - 09:15 </td> <td>Welcome back and recap</td></tr>
      <tr><td>09:15 - 10:30 </td><td>Cleaning Data with OpenRefine</td></tr>
      <tr><td>10:30 - 11:00 </td><td>Coffee Break</td></tr>
      <tr><td>11:00 - 12:30 </td><td>Data Analysis and Visualisation in R</td></tr>
      <tr><td>12:30 - 13:30 </td><td>Lunch Break</td></tr>
      <tr><td>13:30 - 15:00 </td><td>Data Analysis and Visualisation in R</td> </tr>
      <tr><td>15:00 - 15:30 </td><td>Coffee Break</td></tr>
      <tr><td>15:30 - 16:30 </td><td>Data Analysis and Visualisation in R</td></tr>
      <tr> <td>16:30</td> <td>END</td> </tr>	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
<div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr><td>09:00 - 09:15 </td> <td>Welcome back and recap</td></tr>
      <tr><td>09:15 - 10:30 </td><td>Data Analysis and Visualisation in R</td></tr>
      <tr><td>10:30 - 11:00 </td><td>Coffee Break</td></tr>
      <tr><td>11:00 - 12:30 </td><td>Online resources, study groups, continuous learning, and next steps at SMU</td></tr>  
      <tr> <td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr><td> </td><td> END </td> </tr>
    </table>
</div>
</div>
